body
{
	margin: 1em auto;
	border: 1px solid #dbdbdb;
	padding: 1em;
	width: 700px;
	font-family: sans-serif;
	line-height: 1.5em;
}

h1, h2
{
	text-align: center;
}

h2:not(:first-child)
{
	margin-top: 2em;
	border-top: 1px solid #dbdbdb;
	padding-top: 1em;
}

p
{
	text-align: justify;
}

img
{
	display: block;
	margin: 0 auto;
}

img + img
{
	margin-bottom: 1em;
}
