/*
* * global overrides
 */

*
{
	-gtk-icon-style: symbolic;
}


/*
* * Window
 */

button.restart
{
	/* FIXME: https://bugzilla.gnome.org/show_bug.cgi?id=785256 */
	border-radius: 100%;
	-gtk-outline-radius: 100%;
}

button.help
{
	font-size: 16px; /* to match GTK_ICON_SIZE_BUTTON */
	font-weight: bold
}


/*
* * Game
 */

.Game .Score > box
{
	padding: 0.5em;
}

.Table
{
	background-color: #5555aa;
	transition: background-color 333ms;
}

.Table frame.border
{
	border: 0.5em inset mix(@theme_bg_color, @theme_fg_color, 0.125);
}

/* Override bg colour for game states */
.Game.matched .Table
{
	background-color: #55aa55;
}

.Game.unmatched .Table
{
	background-color: #808040;
}

@keyframes game_won
{
	0%
	{
		background-color: mix(@theme_bg_color, #55aa55, 0.5);
	}

	50%
	{
		background-color: mix(@theme_fg_color, #55aa55, 0.5);
	}

	100%
	{
		background-color: mix(@theme_bg_color, #55aa55, 0.5);
	}
}

.Game.won .Table
{
	animation-name: game_won;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.Game.lost .Table
{
	background-color: #aa5500;
}

.Game .message
{
	font-size: 2em;

	/* For this to work, need to put o/c in larger container; see commit msg
	box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.666); */

	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 9999px;
	background: rgba(255, 255, 255, 0.75);
	padding: 0.5em;

	color: black;

	transition: opacity 333ms;
}

.Game .message:not(.shown),
.Card .state:not(.shown)
{
	opacity: 0;
}


/*
* * Cards – N.B. See gui::Table for some serious CSS hackery
 */

.Card
{
	outline-offset: -0.333em;
	-gtk-outline-radius: 0.333em;
	outline-color: #404040;

	border: 1px outset #272727;
	border-radius: 0.666em;

	padding: 0;
}

/* Avoid shadow glitches while undealing */
.Card.dealt.flippable:focus,
.Card.dealt.flippable:hover
{
	box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.666);
}

.Card image.face
{
	margin: 0.666em;

	-gtk-icon-shadow: none; /* rm Adwaitaʼs emboss effect on button image */
}

.Card:not(.flippable):hover image.face
{
	-gtk-icon-effect: none; /* Cancel Adwaita default of highlight */
}

.Card.dealt.flippable:focus image.face,
.Card.dealt.flippable:hover image.face
{
	-gtk-icon-effect: highlight; /* Force here in case other themes don't */
}

.Card .back
{
	opacity: 0.666;
}

.Card.back-up
{
	background: #aaaaaa;
}

.Card.front-up
{
	background: #ececec;
}

.Card .symbol
{
	font-size: 2em;

	margin-left : 0.1666em;
	margin-right: 0.1666em;
	color: #0080ff;

	text-shadow:  0px -1px 0 #272727,
	              0px +1px 0 #272727,
	             -1px  0px 0 #272727,
	             +1px  0px 0 #272727;
}

.Card .state
{
	padding: 0.5em;
	border-radius: 100%;
	background: rgba(128, 128, 128, 0.75);
	-gtk-icon-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);

	transition: opacity 333ms;
}

.Card.unmatched .state
{
	color: #ffff00;
}

.Card.matched .state
{
	color: #00ff00;
}

@keyframes spin {
	to
	{
		-gtk-icon-transform: rotate(1turn);
	}
}

.Game.won .Card.matched .state image
{
	animation-name: spin;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}


/*
* * Score
 */

.Score
{
	font-size: 1.333em;
}

.Score .name
{
	font-weight: bold;
}

.Score .name:dir(ltr),
.Score .points:dir(rtl)
{
	margin-right: 1em;
}

.Game .Score entry.name:not(.warning):not(:focus)
{
	border-color: transparent;
}

.Scoreboard .Score entry.name
{
	border: none;
}

.Scoreboard .Score entry.name,
.Game .Score entry.name:not(.warning):not(:focus),
.Game .Score entry.name:not(.warning):not(:focus) > selection
{
	background: transparent; /* GTK+ < 3.22.25: HighContrast has a gradient here */
	box-shadow: none;        /* GTK+ < 3.22.25: HighContrast has an inset shadow */
	color: currentColor;
}

.Game .Score entry.name.warning > image
{
	color: @warning_color;
}

.Score .points
{
	font-family: monospace;
}

/* Tweak margin inside Game */
.Game .Score .points:dir(ltr)
{
	margin-right: 0.25em;
}

.Game .Score .points:dir(rtl)
{
	margin-left: 0.25em;
}


/*
* * Scoreboard
 */

.Scoreboard > box,
popover.scoreboard-clear
{
	padding: 1em;
}

popover.scoreboard-clear > box.vertical > label:first-child
{
	margin-bottom: 0.5em;
}

@keyframes scoreboard_highlighted
{
	0%
	{
		color: currentColor;
	}

	50%
	{
		color: #00ff00;
	}

	100%
	{
		color: currentColor;
	}
}

.Scoreboard .title
{
	font-size: 2em;
	font-weight: bold;

	margin-bottom: 1em;
}

.Scoreboard .congrats
{
	font-size: 1.5em;
	margin-bottom: 1em;
}

.Scoreboard .Score box:first-child
{
	border-top: 1px solid @borders;
}

.Scoreboard .Score
{
	padding-top: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid @borders;
}

.Scoreboard .congrats,
.Scoreboard .Score.highlighted > box > :not(:backdrop),
.Scoreboard .Score.highlighted > box > :backdrop
{
	animation-name: scoreboard_highlighted;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

/*
.Scoreboard list > :nth-child(even):not(:hover):not(:selected)
{
	background-color: alpha(currentColor, 0.03125);
}
*/

.Scoreboard .rank:dir(ltr),
.Scoreboard .Score:dir(rtl)
{
	margin-right: 1em;
}
